.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.example-full-width {
  width: 100%;
  height: 100%;
}
  .firma
  {
      background-color:lightblue;
      height: 100%;
  }
  .example-card
  {
    background-color: #add8e6;
    height: 100%;
  }
  .dugme
  {
    margin-left:35%;
    margin-right:35%;
   
  }
  .mat-flat-button
  {
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    color:white;   
    border-radius: 50px;
    
  }
  .mat-card-title
  {
   
    color:#0c2e77;
    font-size: 20px;
    font-family: Microsoft JhengHei Light;
    text-align: center;
  }
  
    .firma
    {
      display: flex;
    flex-direction: column;
   flex-grow: 1;
   height: 650px;
    background-color:#e8f4f8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .slicica
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin-top: 2%;
  
   text-align: center;
  }