<div class="firma">
  <mat-card class="example-card">
     <mat-card-title>Registrujte se</mat-card-title>
    <form #form="ngForm" > 
        <mat-form-field class="example-full-width">
              <input 
              matInput placeholder="Naziv firme" 
              type="text"
              id="naziv"
              class="form-control"
              value=""
              [(ngModel)]="firma.naziv"
              name="naziv"
              required
              >
      </mat-form-field>
      
        
      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Korisnicko ime" 
        type="text"
        id="username"
        class="form-control"
        value=""
        [(ngModel)]="firma.username"
        name="username"
        required
        >
        <i class="fa fa-user" aria-hidden="true" style="color:#0c2e77"></i>

      </mat-form-field>
    
    
    <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Lozinka" 
        type="text"
        id="password"
        class="form-control"
        value=""
        [(ngModel)]="firma.password"
        name="password"
        required
        >      
          <i class="fa fa-lock" style="color:#0c2e77"></i>


      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Email" 
        type="text"
        id="email"
        class="form-control"
        value=""
        [(ngModel)]="firma.email"
        name="email"
        required
        >
        <i class="fa fa-envelope" style="color:#0c2e77"></i>

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Adresa " 
        type="text"
        id="adresa"
        class="form-control"
        value=""
        [(ngModel)]="firma.adresa"
        name="adresa"
        required
        >
        <i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77" ></i>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Link ka sajtu " 
        type="text"
        id="link"
        class="form-control"
        value=""
        [(ngModel)]="firma.link"
        name="link"
        
        >
        <i class="fa fa-link" aria-hidden="true" style="color:#0c2e77"></i>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Logo - url adresa slike" 
        type="text"
        id="usernlogoame"
        class="form-control"
        value=""
        [(ngModel)]="firma.logo"
        name="logo"
        
        >
        <i class="fa fa-file-image-o" aria-hidden="true" style="color:#0c2e77"></i>
      </mat-form-field>
      <div class="dugme">
            <button 
            (click)="onSubmit()"
            mat-flat-button color="primary"
            type="submit"
              [disabled]="!form.valid"
              >
              Dodaj</button>
            </div>
            </form>
          </mat-card>
            </div>
