<app-header></app-header>
<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">
  <div class="trazenje">
    <div class="prvaP">
      <div class="pretraga">
        <form #form="ngForm" class="drugaPp">

          <mat-form-field class="query">
            <input matInput type="string" class="form-control" name="query"  placeholder="pretrazi" aria-describedby="sizing-addon2" required [(ngModel)]="query" value="">
           
          </mat-form-field>

          <button (click)="pretrazi()" mat-flat-button color="primary" class="d"> Pretrazi
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <div class="pretraga">
        <form #form1="ngForm" class="drugaPp">

          <mat-form-field class="grad">
            <input matInput type="string" class="form-control" name="grad"  placeholder="Unesite grad" aria-describedby="sizing-addon2" required [(ngModel)]="grad" value="">

          </mat-form-field>

          <button (click)="pretraziGrad()" mat-flat-button color="primary" class="d"> Pretrazi
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="drugaP">

      <form #form2="ngForm" class="drugaPp">
        <div class="c">
        <mat-form-field class="grad">
          <input  [(ngModel)]="gradNP"  required aria-describedby="sizing-addon2" type="string" name="gradNP" matInput class="form-control" placeholder="Unesite grad" value="">
        </mat-form-field>
        </div>
        <div  class="c">
        <mat-form-field appearance="fill">
          <mat-label>Trajanje prakse</mat-label>
          <select matNativeControl required name="trajanje" [ngModel]="trajanje"
            (ngModelChange)="onSelectedChange($event)">
            <option value="Dve nedelje">dve nedelje</option>
            <option value="1 mesec">1 mesec</option>
            <option value="Dva meseca">dva meseca</option>
            <option value="Tri meseca">tri meseca </option>
            <option value="Sest meseci">sest meseci</option>
            <option value="Godinu dana">Godinu dana</option>
          </select>
        </mat-form-field>
      </div>
      <div  class="dugme">
        <button (click)="naprednaPretraga()" mat-flat-button color="primary" class="d"> Napredna pretraga
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      </form>
    </div>
  </div>
  <div class="flex row">
    <div *ngFor="let post of posts" class="post">
      <app-post-prikaz [post]="post"></app-post-prikaz>
    </div>
  </div>
</div>