.bg
{
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}
.c
{
    display: flex;
    justify-content: center;
}
.drugaPp
{
display: flex;
flex-direction: row;
width:100%;
justify-content: space-evenly;
//background-color:#add8e6 ;
//background-color:#6dabbd;
//background-color:#2494ae;
background-color: #1f9ce4;
margin-top:3px;
place-self: center;
padding-left: 3%;
padding-right: 3%;
}

.drugaP
{
display: flex;
flex-direction: row;
width:95%;
justify-content: space-between;
//background-color: white;
//background-color:#add8e6 ;
//background-color:#6dabbd;
//background-color:#2494ae;
background-color: #1f9ce4;

border:solid white 3px;
margin-top:3px;
place-self: center;
padding-left: 3%;
margin-left: 7px;
border-radius: 1%;


padding-right: 3%;
}
.prvaP
{
 display: flex;
flex-direction: row;


//justify-content: space-evenly;


}
.trazenje
{
    display: flex;
    flex-direction: column;
    border:solid white 5px;
//  background-color:#277993;
//background-color:#6dabbd;
//background-color:#2494ae;
background-color: #1f9ce4;

border-radius: 1%;


    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
  justify-content: center;
  
}
.mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 150px;
    height: 40px;
    color:white;   
    border-radius: 50px;
    margin-top:5%;
    text-align: center;
    
}
.dugme
{
  height: 100%;
 display: flex;
 margin-top: 5px;
   justify-content: center;
}
.post
{
    margin-right: 1%;
    margin-top: 1% !important;
}
.row
{
    margin-top:1% ;
    padding-left:2% ;
    margin-left: 3%;
}
.pretraga
{
    margin-left: 3%;
    margin-right: 2%;
    display: flex;
//  background-color:#277993;
//  background-color:#2494ae;
 // background-color:#2494ae;
background-color: #1f9ce4;

  border-radius: 1%;

//    background-color:#add8e6 ;
border:solid white 3px;
width:50%;
    //background-color: white;
}