.levo
{
display: flex;
flex-direction: column;
}
.mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;
    color:white;   
    border-radius: 50px; 
}
.osnova
{
    display: flex;
    background-color: white;
    color:#0c2e77;
    font-family: Microsoft JhengHei Light;
    text-align: center;
}
.dugme
{
    margin-top:2%;
}