<div class="shadow p-3 mb-5 bg-white rounded" width="120px" height="150px">

<div class="osnova">
<div class="levo">
  <div> {{post.naziv}}</div>
  <div> Trajanje prakse: {{post.trajanje}}</div>
  <div><i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77" ></i>  {{post.grad}} </div>
  <div class="dugme">  <button  mat-button 
    (click)="obrisiPost()"
          mat-flat-button color="primary"
          type="submit">
          Obrisi  <i class="fa fa-trash" aria-hidden="true"></i> </button>
  </div> </div>
</div>

</div>