
  <div class="header">
    <button mat-button routerLink="/home">Pocetna strana</button>
    <button mat-button routerLink="/oglasi"> Pogledaj oglase za praksu </button>
    
    <button mat-button routerLink="/kompanije"> Upoznaj kompanije </button>
    <button *ngIf="dataService?.Firma()" mat-button routerLink="/oglasifirme">Oglasi koje ste dodali</button>
    <button *ngIf="!isLogged()" mat-button (click)="openDialogLogin()">Prijavi se</button>
    <button *ngIf="isLogged()" (click)="logOut()" mat-button>Odjavi se</button>
   
      <button *ngIf="!isLogged()" mat-button [matMenuTriggerFor]="menu" >Registruj se</button>

      <button *ngIf="dataService?.Firma()" mat-button routerLink="/addpost">Dodaj oglas</button>
      
    </div>

    <mat-menu #menu="matMenu">
        <button  (click)="openDialogRegUser()" mat-menu-item>Student</button>
        <button (click)="openDialogRegCompany()" mat-menu-item>Registracija firme</button>
      </mat-menu>
 