.head
{
    float: right;

}

.header
{
    
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: strech;
    padding-left:15%;
    padding-right:15%;
    font-family: Microsoft JhengHei Light;
    color:white;
    background-color: #0c2e77;
}
.mat-button
{
    display: flex;
    flex-grow: 1;
    justify-self: auto;

}