<app-header></app-header>
<div class="bg">
<div class="osnova">
<div class="gore">
  <div class="levo">
    <div class="naslov"> {{post?.naziv}} </div>
    <div class="ostalo">
    <div class="trajanje"> <i class="fa fa-clock-o" aria-hidden="true" style="color:#0c2e77"></i>  {{post?.trajanje}} </div>
    <div class="mesto"> <i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77" ></i>  {{post?.grad}} </div>
    <a href="{{post?.firma.link}}"> <span class="badge badge-pill badge-primary">Web sajt kompanije</span></a>
  </div>  
</div>
  <div class="desno">
    <a href="{{post?.firma.link}}"> <div class="zr"> <div class="ram">   <img [src]="post?.firma.logo" width="100px" height="100px"> </div> </div></a>
      <div>{{post?.firma.naziv}} </div>
      <div>  <i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77" ></i>{{post?.firma.adresa}}  </div>
     
  </div>
</div>
<div class="dole" [style.backgroundImage]="getBackgroundImageUrl()">
  <div class="naslov1">
    Opis:
  </div>
  <div class="opis">
    {{post?.opis}} 
  </div>
  <div class="prijava"> 
    <button 
     *ngIf="!dataService?.Firma()"
     mat-button 
     (click)="apply()"
      mat-flat-button 
     type="submit">
       Prijavi se za praksu
     </button> 
   </div>
</div>
</div>
</div>

<!--
<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">
<div class="osnova">
  <div class="levo">
    <div class="naslov"> {{post?.naziv}}  </div>
    <div class="tiG">
    <div> <i class="fa fa-clock-o" aria-hidden="true" style="color:#0c2e77"></i>  {{post?.trajanje}}</div>  
    <div>  <i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77" ></i>  {{post?.grad}} </div>  
    </div>
    <div class="firma"> 
      <div class="ram">  <img [src]="post?.firma.logo" width="50px" height="50px"> </div>
      <div><a href="{{post?.firma.link}}"> {{post?.firma.naziv}} </a> </div>
    </div>
  </div>
  <div class="desno">
    <div class="opis"> {{post?.opis}} </div>
    <div class="prijava"> 
     <button 
      *ngIf="!dataService?.Firma()"
      mat-button 
      (click)="apply()"
       mat-flat-button 
      type="submit">
        Prijavi se za praksu
      </button> 
    </div>
  </div>
</div>
</div>
-->