.osnova
{
    display: flex;
    flex-direction: column;
    font-family: Microsoft JhengHei Light;
    color:#0c2e77;
    background-color: white;
  
    margin:2%;
}
.gore
{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid #0c2e77 5px ;
    padding-bottom: 2%;
}

.ostalo
{
    text-align: center;
}
.levo
{
    margin-left: 1%;
    margin-right: 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.naslov
{
    font-weight: blod;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
}
.naslov1
{
    font-weight: blod;
    font-size: 27px;
    margin-bottom: 1%;
}
.tiG
{
display: flex;
flex-direction: column;
}
.firma
{
display: flex;
}
.desno
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
}
.zr
{

place-self: center;
display: flex;

}
.ram{
    border:solid  #0c2e77 2px;
   padding: 3px;
   margin-left:40%;
   place-self: center;
}
.opis
{
   font-size: 20px;
   width:70%;
  
}
.prijava
{
    margin-left: 10%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.dole
{
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    place-self: center;
    padding-top: 2%;

}

.mat-flat-button
{
   // background-color:#1f9ce4;
  background-color: #0c2e77;
    font-size: 12px;
   margin-left: 10%;
    //margin-right: 30%;
    width: 50%;
    height:42px;
    text-align: center;
    color:white;   
    border-radius: 50px;  
}