<div class="osnova">
    <div class="tekst">
    Trenutno nema oglasa sa datim kriterijumom.
    Ostavite svoju email adresu kako bismo vas obavestili, ukoliko se pojavi traženi oglas.    
    </div>
    <form #form="ngForm"  class="example-form">
    <div class="mail"> 
        
            <mat-form-field class="example-full-width">
                <mat-label>Email adresa</mat-label>
                <input matInput placeholder="name@example.com" name="mail"  [(ngModel)]="mail" required>
              </mat-form-field>
         

    </div>
    <div class="dugmici"> 
        <button 
        mat-flat-button 
        (click)="prijavaZaObavestenje()"
          >
          Obavestite me <i class="fa fa-bell fa-1x" aria-hidden="true"></i>
        </button>
     
        <button 
        mat-flat-button 
        (click)="zatvori()"
          >
         Zatvori <i class="fa fa-times fa-1x" aria-hidden="true"></i>
        </button>
    </div>
</form>
</div>
