.osnova
{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: solid #0c2e77 3px;
    padding:5px;
    font-family: Microsoft JhengHei Light;
      color:#0c2e77;
      text-align: center;
      width:400px;
      place-self: center;
  

}
.tekst
{
    font-weight: bold;
    font-size: 16px;
}
.mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 25%;
    margin-right: 25%;
    //width: 40%;
margin-top: 2px;
margin-bottom: 2px;
    color:white;   
    border-radius: 50px;
    
}
.dugmici
{
    //display: flex;
    //padding-left:10%;
   // padding-right:50%;
  //  flex-direction: row;
}