<div class="nalogFirma" >
    <form #form="ngForm" >

      <mat-form-field class="example-full-width">
            <input 
            matInput placeholder="Naziv firme" 
            type="text"
            id="naziv"
            class="form-control"
            value=""
            [(ngModel)]="firma.naziv"
            name="naziv"
            required
            >
    </mat-form-field>
 

      
    <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Korisnicko ime" 
        type="text"
        id="username"
        class="form-control"
        value=""
        [(ngModel)]="firma.username"
        name="username"
        required
        >
        <i class="fa fa-user" aria-hidden="true" style="color:#4d6d9a"></i>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Sifra" 
        type="text"
        id="sifra"
        class="form-control"
        value=""
        [(ngModel)]="firma.password"
        name="sifra"
        required
        >
      
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Email" 
        type="text"
        id="email"
        class="form-control"
        value=""
        [(ngModel)]="firma.email"
        name="email"
        required
        >
      
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Adresa" 
        type="text"
        id="Adresa"
        class="form-control"
        value=""
        [(ngModel)]="firma.adresa"
        name="Adresa"
        
        >
      
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Url logo" 
        type="text"
        id="logo"
        class="form-control"
        value=""
        [(ngModel)]="firma.logo"
        name="logo"
        
        >
      
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Link ka zvanicnoj stranici" 
        type="text"
        id="link"
        class="form-control"
        value=""
        [(ngModel)]="firma.link"
        name="Link"
        
        >
      
      </mat-form-field>

          <button 
          (click)="onSubmit()"
          mat-flat-button color="primary"
          type="submit"
            [disabled]="!form.valid"
            >
            Registruj firmu </button>
          </form>
        
   

</div>
