<app-header></app-header>
<!--<div class="hp"  [style.backgroundImage]="getBackgroundImageUrl()">-->
<div>
<div class="c">  
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="s">
          <div class="hp"  [style.backgroundImage]="getBackgroundImageUrl()">
            <div class="prjavaRegistracija">
              
              <div class="prijava">
               
                <button *ngIf="!isLogged()" mat-flat-button (click)="openDialogLogin()">Prijavite se  <i class="fa fa-sign-in fa-1x" aria-hidden="true"></i></button>
                <button *ngIf="isLogged()" (click)="logOut()" mat-flat-button>Odjavi se <i class="fa fa-sign-out fa-1x" aria-hidden="true"> </i></button>
                <button *ngIf="!isLogged()" mat-flat-button [matMenuTriggerFor]="menu" >Registrujte se <i class="fa fa-address-book fa-1x" aria-hidden="true" ></i></button>
              </div>
                  <mat-menu #menu="matMenu">
                    <button  (click)="openDialogRegUser()" mat-menu-item>Student</button>

                    <button routerLink="/registracijaFirme" mat-menu-item>Registracija firme</button>
                  </mat-menu>
            </div>
          </div>

      <!--  <img  class="d-block w-100" src="assets/s4.jpg" alt="First slide">-->
        </div>
      </div>
      <div class="carousel-item">
        <div class="slide">
          <div class="hp"  [style.backgroundImage]="getBackgroundImageUrl2()">
            <div class="prjavaRegistracija">
              <div class="prijava">
               
                <button *ngIf="!isLogged()" mat-flat-button (click)="openDialogLogin()">Prijavite se  <i class="fa fa-sign-in fa-1x" aria-hidden="true"></i></button>

                <button *ngIf="isLogged()" (click)="logOut()" mat-flat-button>Odjavi se <i class="fa fa-sign-out fa-1x" aria-hidden="true"> </i></button>
                <button *ngIf="!isLogged()" mat-flat-button [matMenuTriggerFor]="menu" >Registrujte se <i class="fa fa-address-book fa-1x" aria-hidden="true" ></i></button>
              </div>
                  <mat-menu #menu="matMenu">
                    <button  (click)="openDialogRegUser()" mat-menu-item>Student</button>

                    <button routerLink="/registracijaFirme" mat-menu-item>Registracija firme</button>
                  </mat-menu>
            </div>
          </div>
       <!--<img  class="d-block w-100" src="assets/a1.jpg" alt="Second slide">-->
        </div>
      </div>
      <div class="carousel-item">
        <div class="slide">
          <div class="hp"  [style.backgroundImage]="getBackgroundImageUrl1()">
            <div class="prjavaRegistracija"> 
              <div class="prijava">
               
                <button *ngIf="!isLogged()" mat-flat-button (click)="openDialogLogin()">Prijavite se  <i class="fa fa-sign-in fa-1x" aria-hidden="true"></i></button>
                <button *ngIf="isLogged()" (click)="logOut()" mat-flat-button>Odjavi se <i class="fa fa-sign-out fa-1x" aria-hidden="true"> </i></button>
                <button *ngIf="!isLogged()" mat-flat-button [matMenuTriggerFor]="menu" >Registrujte se <i class="fa fa-address-book fa-1x" aria-hidden="true" ></i></button>
              </div>
                  <mat-menu #menu="matMenu">
                    <button  (click)="openDialogRegUser()" mat-menu-item>Student</button>

                    <button routerLink="/registracijaFirme" mat-menu-item>Registracija firme</button>
                  </mat-menu>
            </div>
          
          </div>
          <!--<img  class="d-block w-100" src="assets/s6.jpg" alt="Second slide">-->
        </div>
      </div>
      <div class="carousel-item">
        <div class="slide">
          <div class="hp"  [style.backgroundImage]="getBackgroundImageUrl3()">
            <div class="prjavaRegistracija">
              <div class="prijava">
               
                <button *ngIf="!isLogged()" mat-flat-button (click)="openDialogLogin()">Prijavite se <i class="fa fa-sign-in fa-1x" aria-hidden="true"></i></button>

                <button *ngIf="isLogged()" (click)="logOut()" mat-flat-button>Odjavi se  <i class="fa fa-sign-out fa-1x" aria-hidden="true"> </i></button>
                <button *ngIf="!isLogged()" mat-flat-button [matMenuTriggerFor]="menu" >Registrujte se <i class="fa fa-address-book fa-1x" aria-hidden="true" ></i></button>
              </div>
                  <mat-menu #menu="matMenu">
                    <button  (click)="openDialogRegUser()" mat-menu-item>Student</button>
                    
                    <button  (click)="openDialogRegCompany()" mat-menu-item>Registracija firme</button>
                  </mat-menu>
            </div>
          </div>
          <!--<img  class="d-block w-100" src="assets/aa.jpg" alt="Second slide">-->
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="c">
    <div class="ostalo">
      <a href="http://localhost:4200/oglasi">
        <div class="shadow p-3 mb-5 bg-white rounded" >
          <div class="kv">
            <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
            Pogledaj oglase za prakse
         </div>   
        </div>
      </a>
        <a href="http://localhost:4200/kompanije">
         <div class="shadow p-3 mb-5 bg-blue rounded" >  
           <div class="kv">
            <i class="fa fa-building-o fa-3x" aria-hidden="true"></i>
            Upoznaj se  sa kompanijama
          </div>
        </div>   
        </a>
        <a href="http://localhost:4200/oglasi">
        <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="kv">
            <i class="fa fa-search fa-3x" aria-hidden="true"></i>
            Pretrazi oglase za prakse
        </div>   
      </div>
      </a>

      <a href="http://localhost:4200/oglasifirme">
        <div *ngIf="dataService?.Firma()" class="shadow p-3 mb-5 bg-white rounded">
        <div class="kv">
            <i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i>
            Oglasi koje ste dodali
        </div>   
      </div>
      </a>

      
      <a href="http://localhost:4200/addpost">
        <div *ngIf="dataService?.Firma()" class="shadow p-3 mb-5 bg-white rounded">
        <div class="kv">
            <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i>
           Dodajte oglas za praksu
        </div>   
      </div>
      </a>
      
    
    </div>
  </div>
  </div>


<!--</div>-->