.hp{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px; 
    font-family: Microsoft JhengHei Light;
   // margin-top: 5%;

  }
  .slide
  {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .c
  {
    
      height:50%;
      display: flex;
      justify-content: space space-between;
      flex-direction: column;

  }
  .ostalo
  {
    justify-content: space-evenly;
    padding-left:10%;
    padding-right:5%;
      display: flex;
      flex-direction: row;
      text-align: center;
      font-weight: bold;
      flex-grow: 1;
      /*margin-left: 11%;
      margin-right:4%;*/
      margin-top:3%;

      
  }
  .mat-button
{
    display: flex;
    flex-grow: 1;
    justify-self: auto;
}
.kvPlavo
{
    display: flex;
    flex-direction: column;
    font-family: Microsoft JhengHei Light;
    color:white;
    background-color: #0c2e77;
    justify-content: center;
    font-style: bold;
    width:28%
}
.kv
{
   // width:28%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Microsoft JhengHei Light;
    color:#0c2e77;
    background-color:white ;
    justify-content: center;
    font-weight: bold;

}
.tekst
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Microsoft JhengHei Light;
    font-size: 30px;
    font-weight: bold;
    color:white;
}
.p
{
display: flex;
flex-direction: column;
flex-grow: 1;
margin-top: 50%;
}
.prjavaRegistracija
{
    display: flex;
    flex-grow: 1;
   flex-direction: column;
   font-family: Microsoft JhengHei Light;

   
}
.prijava
{
    display: flex;
    justify-content: space-around;
   // flex-grow: 1;
    justify-content: center;
    height: 40px;
 
    margin-left: 40%;
    margin-right: 35%;
    margin-top: 27%;
    margin-bottom: 2%;
  
}
.mat-flat-button
{
    background-color: #ffcc00;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    color:white;   
    border-radius: 50px;
    
}