
.mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 50%;
    color:white;   
    border-radius: 50px; 
}
.osnova
{
    display: flex;
    background-color: white;
    color:#0c2e77;
    font-family: Microsoft JhengHei Light;
    text-align: center;
    flex-direction: column;
    width:250px;
}
.naziv
{
font-size: 18px;
font-weight: bold;
}
.ram
{
    border: solid #0c2e77 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 37%;
    margin-right: 37%;
}
.gore
{
    font-size: 16px;
    text-align: center;
    margin:2px;
}
.levo,.desno
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:2px;

}