<div class="shadow p-3 mb-5 bg-white rounded" width="120px" height="150px">
    <div class="osnova">
        <div class="gore">
            <div class="naziv"> {{post?.naziv}}
            </div>
            <div class="levo">
                <div class="ram"> <a href="{{post?.firma.link}}">  <img [src]="post?.firma.logo" width="50px" height="50px"> </a> </div>
                <div><a href="{{post?.firma.link}}"> {{post?.firma.naziv}} </a> </div>
            </div>
            <div class="desno">
                <div> <i class="fa fa-clock-o" aria-hidden="true" style="color:#0c2e77"></i> 
                    {{post?.trajanje}} </div>
                <div> <i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77"></i> {{post?.grad}} </div>

            </div>
        </div>
        <div class="dugme">
            <button mat-flat-button (click)="pogledajPost()" mat-flat-button color="primary" type="submit"> 
                Pogledaj oglas
            </button>
                
        </div>
    </div>

</div>