<app-header></app-header>
<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">

<div class="flex row"  >
<div *ngFor="let firma of firme" class="firma">
    <app-jedna-firma [firma]="firma"></app-jedna-firma>      
  </div>
  </div>

  </div>