.bg
{
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.firma
{
    margin-right: 1%;
    margin-top: 1% !important;
}
.row
{
    margin-top:1% ;
    padding-left:5% ;
    margin-left: 3%;
}