<!--<div>
    <div> Naziv: {{firma.naziv}} </div>
    <div>  Adresa: {{firma.adresa}} </div>
   
    <a href="{{firma.link}}">
        <button mat-raised-button color="primary" class="d" > Posetite sajt kompanije </button>
    
    </a>
    </div>
-->
<div class="shadow p-3 mb-5 bg-white rounded" width="120px" height="150px">
    <div class="osnova">
        <div class="naslov">
            {{firma.naziv}}
        </div>
        <div class="info">
            <div class="logo">
                <div class="ram">
                  <img [src]="firma.logo" width="80px" height="80px">  
                </div>
            </div>
            <div class="adresa">
                <div>  <i class="fa fa-map-marker" aria-hidden="true" style="color:#0c2e77" ></i> Adresa:</div>
                 <div> {{firma.adresa}}</div>
            </div>
        </div>
        <div class="dugme">
            <a href="{{firma.link}}">
                <button mat-flat-button  class="d"> Posetite sajt kompanije </button>
            </a>
        </div>
    </div>
    </div>