.osnova
{
    display: flex;
    flex-direction: column;
    justify-content: center;
     font-family: Microsoft JhengHei Light;
    color:#0c2e77;
    width: 300px;
    height:200px;
}
.ram
{
    border: solid #0c2e77 2px;
    width: 100px;
    height: 100px;
    padding: 5%;
    margin-left:5%;
    margin-right:5%;
}
.info
{
    margin-left:3%;
    margin-right:3%;
    margin-bottom:3%;
    display: flex;
    justify-content:center;
    text-align: center;
}
.naslov
{
font-size: 20px;
font-weight: bold;
}
.adresa,.naslov
{
   
    margin-bottom:3%;
    margin-left:5%;
    margin-right:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.dugme
{
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
}
.mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    color:white;   
    border-radius: 50px;
    
}