.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card
{
  background-color: #add8e6;
  height: 100%;
}
.dugme
{
  margin-left:35%;
  margin-right:35%;
 
}
.mat-flat-button
{
  background-color:#0c2e77;
  font-size: 12px;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
  color:white;   
  border-radius: 50px;
  
}
.mat-card-title
{
 
  color:#0c2e77;
  font-size: 20px;
  font-family: Microsoft JhengHei Light;
  text-align: center;
}
  .example-header-image {
    background-image: url('https://t3.ftcdn.net/jpg/01/17/96/68/240_F_117966832_qprcRmPUtpmdsNNRigU3y0oSeT0yUSlB.jpg');
    background-size: cover;
    align-self: center;
    margin-left: 40%;
    margin-right: 40%;
    
  }
  .registracija
  {
    display: flex;
  flex-direction: column;
 flex-grow: 1;
 height: 650px;
  background-color:#e8f4f8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .slicica
{
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-top: 2%;

 text-align: center;
}
.forma
{
  margin-bottom:2%;
  margin-top: 2%;
}