
<div class="registracija" >
  <mat-card class="example-card">
    <div class="slicica">
      <div class="s">
       <mat-card-title>Registrujte se</mat-card-title>
      
    </div>
      </div>
   <div class="forma">
    <form #form="ngForm" >

      <mat-form-field class="example-full-width">
            <input 
            matInput placeholder="Ime" 
            type="text"
            id="ime"
            class="form-control"
            value=""
            [(ngModel)]="user.ime"
            name="ime"
            required
            >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input 
      matInput placeholder="Prezime" 
      type="text"
      id="prezime"
      class="form-control"
      value=""
      [(ngModel)]="user.prezime"
      name="prezime"
      required
      >
    
    </mat-form-field>

      
    <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Korisnicko ime" 
        type="text"
        id="username"
        class="form-control"
        value=""
        [(ngModel)]="user.username"
        name="username"
        required
        >
        <i class="fa fa-user" aria-hidden="true" style="color:#0c2e77"></i>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Sifra" 
        type="text"
        id="sifra"
        class="form-control"
        value=""
        [(ngModel)]="user.password"
        name="sifra"
        required
        >
        <i class="fa fa-lock" style="color:#0c2e77"></i>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input 
        matInput placeholder="Email" 
        type="text"
        id="email"
        class="form-control"
        value=""
        [(ngModel)]="user.email"
        name="email"
        required
        >
        <i class="fa fa-envelope" aria-hidden="true" style="color:#0c2e77"></i>
      </mat-form-field>

  
<div class="dugme">
          <button 
          (click)="onSubmit()"
          mat-flat-button color="primary"
          type="submit"
            [disabled]="!form.valid"
            >
            Registrujte se</button>
          </div>
          </form>
        </div>          
     <!--   <div *ngFor="let user of users" class="user">
            <app-user-info [user]="user"></app-user-info>       
     </div>
     --> 
</mat-card>
</div>
