.bg
{
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.row
{margin-top:1% ;
 padding-left: 2%;
margin-left: 3%;
}
.post
{
    margin-right: 1%;
    margin-top: 1% !important;
}