<app-header></app-header>
<div class="bg" [style.backgroundImage]="getBackgroundImageUrl()">

<div class="flex row"  >
    <div *ngFor="let post of posts" class="post">
           <app-brisanje-posta (notifyDelete)="reload()" [post]="post"></app-brisanje-posta>        
    </div>
</div> 
</div>