<app-header></app-header>

<div class="post" [style.backgroundImage]="getBackgroundImageUrl()">
  <div class="ram">
  <div class="pomocni">
  
  <div class="forma">
    <div class="n">
    <label class="naslov"> Novi oglas </label>
    </div>
<form #form="ngForm" >
  

    <mat-form-field class="example-full-width">
          <input 
          matInput placeholder="Naziv" 
          type="text"
          id="naziv"
          class="form-control"
          value=""
          [(ngModel)]="post.naziv"
          name="naziv"
          required
          >
  </mat-form-field>
  <mat-hint align="start"><strong></strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 2000</mat-hint>
    
  <mat-form-field class="example-full-width">
    <mat-label>Opis</mat-label>
    <textarea matInput #message maxlength="2000"
    type="text"
          id="opis"
          class="form-control"
          value=""
          [(ngModel)]="post.opis"
          name="opis"
          required
    >
</textarea>    
  </mat-form-field>

  <!--<mat-form-field class="example-full-width">
    <input 
    matInput placeholder="Trajanje prakse" 
    type="text"
    id="Trajanje"
    class="form-control"
    value=""
    [(ngModel)]="post.trajanje"
    name="Trajanje"
    required
    >
</mat-form-field>-->
<mat-form-field appearance="fill">
  <mat-label>Trajanje prakse</mat-label>
  <select matNativeControl required  name="trajanje"  [ngModel]="post.trajanje" (ngModelChange)="onSelectedChange($event)" >
    <option value="Dve nedelje" >dve nedelje</option>
    <option value="1 mesec" >1 mesec</option>
    <option value="Dva meseca" >dva meseca</option>
    <option value="Tri meseca">tri meseca </option>
    <option value="Sest meseci">sest meseci</option>
    <option value="Godinu dana">Godinu dana</option>
  </select>
</mat-form-field>

 <mat-form-field class="example-full-width">
  <input 
  matInput placeholder="Grad" 
  type="text"
  id="grad"
  class="form-control"
  value=""
  [(ngModel)]="post.grad"
  name="grad"
  required
  >
</mat-form-field>      
<div class="dugme">
        <button 
        (click)="onSubmit()"
        mat-flat-button color="primary"
        type="submit"
          [disabled]="!form.valid"
          >
          Dodaj</button>

</div>   
        </form>

       </div>
       </div> 
       </div>
        </div>