.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .pomocni
  {
    display: flex;
  }
  
  .example-full-width {
    width: 100%;
  }
  .naslov{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .naslov
  {
    font-family: Microsoft JhengHei Light;
      color:#0c2e77;
      font-weight: bold;
      font-size: 20px;
  }
  
  .dugme
  {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:43%;
    margin-right:25%;
  }
  .mat-flat-button
  {
      background-color:#0c2e77;
      font-size: 12px;
      margin-left: 2%;
      margin-right: 2%;
      width: 33%;
      color:white;   
      border-radius: 50px;
      
  }
  .forma
  {
    background-color: lightblue;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
    border: solid #0c2e77 3px;
    padding:5px;
  }
  .post
  {
      background-color:lightblue;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px; 
      
  }