.example-form {
    min-width: 350px;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }
  

  .login
  {
      background-color:white;
      font-family: Microsoft JhengHei Light;
      color:#0c2e77;
      height: 100%;

  }
  .nemateNalog
  {
    display: flex;
    margin:3%;
    justify-content: center;
    font-size: 15px;

  }
  .pitanje
  {
    text-align: center;
  }
  .mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    color:white;   
    border-radius: 50px;
    
}
form {
  min-width: 150px;
  max-width:600px;
  width: 100%;
  height:100%;
}

.example-full-width {
  width: 100%;
  height: 100%;
}


.example-card
{
  background-color: #add8e6;
  height: 100%;
}
.mat-card-title
{
  margin-left: 10%;
  color:#0c2e77;
  font-size: 20px;
  font-family: Microsoft JhengHei Light;
  text-align: center;
}

.example-header-image {
  background-image: url('https://previews.123rf.com/images/berkut2011/berkut20111709/berkut2011170900455/86543596-graduate-icon.jpg');
  background-size: cover;
  align-self: center;
  margin-left: 40%;
  margin-right: 40%;
  
}
.matInput
{
margin-top: 5%;
}
.dugme
{
  margin-left:25%;
  margin-right:25%;
  margin-top: 8%;
  margin-bottom: 10%;;
}
.prozor
{
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
}
.c{
display: flex;
justify-content: center;
}
/*.example-header-image {
  background-image: url('https://t3.ftcdn.net/jpg/01/17/96/68/240_F_117966832_qprcRmPUtpmdsNNRigU3y0oSeT0yUSlB.jpg');
  background-size: cover;
  align-self: center;
  margin-left: 40%;
  margin-right: 40%;
  
}*/
.d
{
  display: flex;
  flex-direction: column;

}
.slicica
{
  display: flex;
  flex-direction: column;
  justify-content: center;
 text-align: center;
}
.forma
{
  margin-bottom: 30%;
  margin-top: 10%;
}
.login
{
  display: flex;
  flex-direction: column;
 flex-grow: 1;
 height: 650px;
  background-color:#e8f4f8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

