
<div class="login" >
  <mat-card class="example-card">
  <div class="slicica">
    <div class="slicica">
     <mat-card-title>Prijavite se</mat-card-title>
    </div>
    <div mat-card-avatar class="example-header-image"></div>
    </div>
 <div class="forma">
    <form #form="ngForm" >
    <mat-form-field class="example-full-width">
      <i class="fa fa-user" aria-hidden="true" style="color:#0c2e77"></i>   Korisničko ime:

        <input 
        matInput placeholder="" 
        type="text"
        id="username"
        class="form-control"
        value=""
        [(ngModel)]="username"
        name="username"
        required
        >
      </mat-form-field>
      
      

      <mat-form-field class="example-full-width">
        <i class="fa fa-lock" style="color:#0c2e77"></i> Lozinka: 
        <input 
        matInput placeholder="" 
        type="text"
        [type]="hide ? 'password' : 'text'"
        id="sifra"
        class="form-control"
        value=""
        [(ngModel)]="password"
        name="sifra"
        required
        >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
         [attr.aria-pressed]="hide">
         <i class="fa fa-eye-slash" aria-hidden="true"  style="color:#4d6d9a"></i>
          
          </button>
      </mat-form-field>
      <div class="nemateNalog">
        <div class="pitanje">
       Nemate nalog?
       </div>
      <button 
      mat-button
      [matMenuTriggerFor]="menu"
        >
        Registrujte se</button>

      </div>
      <div class="dugme">
          <button 
          (click)="login()"
          mat-flat-button 
          type="submit"
            [disabled]="!form.valid"
            >
            Prijavi  se</button>

      </div>   
          </form>
        </div>
        </mat-card>
        <mat-menu #menu="matMenu">
          <button  (click)="openDialogRegUser()" mat-menu-item>Student</button>
          <button (click)="openDialogRegCompany()" mat-menu-item>Registracija firme</button>
        </mat-menu>
</div>
