<div class="osnova">
    <div class="prijava">
    <div>
        Morate se ulogovati da biste se prijavili za praksu!
    </div>
    <div class="dugme">
        <button 
        (click)="openDialogLogin()"
        mat-flat-button 
     
        
          >
         Ulogujte  se <i class="fa fa-sign-in fa-1x" aria-hidden="true"></i> </button>
    </div>   
    </div>
    <div class="registracija">
        <div class="pitanje">
            Nemate nalog?
            </div>
            <div>
           <button 
           mat-flat-button 
           (click)="openDialogRegister()"
             >
             Registrujte se <i class="fa fa-address-book fa-1x" aria-hidden="true" ></i></button>
     
           </div>
     </div>   
<div>
