.osnova
{
    display: flex;
    flex-direction: column;
    font-family: Microsoft JhengHei Light;
    color:#0c2e77;
    font-size: 22px;
    border: solid #0c2e77 2px ;
    padding-top: 5px;
    padding-bottom: 5px;
    width:450px;
    background-color: white;

}
.mat-flat-button
{
    background-color:#0c2e77;
    font-size: 12px;
    margin-left: 25%;
    margin-right: 25%;
    //width: 40%;
margin-top: 2px;
margin-bottom: 2px;
    color:white;   
    border-radius: 50px;
    
}
.prijava
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.registracija
{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;

}